@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --black: hsla(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-cyan: hsl(156, 42%, 18%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);

    --font-primary: 'Fraunces', serif;
    --font-secondary: 'Montserrat', sans-serif;
}

html {
    height: -webkit-fill-available;
}

body {
    font-size: 62.5%;
    background-color: var(--cream);
}

.d-grd {
    display: grid;
}

.d-flx {
    display: flex;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.c-dgb {
    color: var(--dark-grayish-blue);
}

.f-primary {
    font-family: var(--font-primary);
}

.f-secondary {
    font-family: var(--font-secondary);
}

#primary-content {
    width: 100%;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    flex-wrap: wrap;
}

.card {
    margin: 3.5em auto;
    width: 600px;
    height: 450px;
    background-color: var(--white);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    -ms-border-radius: 1.2em;
    -o-border-radius: 1.2em;
    box-shadow: 1px 1px 1em 0 var(--black);
    overflow: hidden;

    &__aside {
        background-image: url('../images/image-product-desktop.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(0.87) contrast(1.2) saturate(1.1);
        -webkit-filter: brightness(0.87) contrast(1.2) saturate(1.1);
    }

    &__content {
        padding: 1.5em 3.5em;
    }

    &__tag {
        letter-spacing: 4px;
        font-size: 1.1em;
        font-weight: 500;
    }

    &__title {
        color: var(--very-dark-blue);
        font-size: 3.6em;
        font-weight: 700;
        line-height: 1;
        margin: 0;
    }

    &__copy {
        font-size: 1.4em;
        line-height: 1.5;
        margin: 1.6em 0;
    }

    &__pricing {
        align-items: center;
        margin-bottom: 2.2em;
    }
}

.pricing {
    color: var(--dark-cyan);
    font-size: 3.2em;
    font-weight: 700;
}

.price {
    margin: 0 0 0 1.5em;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.3em;
}

.line-through {
    text-decoration: line-through;
}

.btn {
    width: 100%;
    border: none;
    padding: 1.2em 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    font-size: 1.4em;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: background-color;

    &__icon {
        margin-right: 0.6em;
    }

    &:hover {
        background-color: var(--very-dark-cyan);
    }
}

@media screen and (max-width: 650px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 240px auto;
        width: 345px;
        height: auto;

        &__aside {
            background-image: url('../images/image-product-mobile.jpg');
        }

        &__content {
            padding: 2.5em;
        }

        &__tag {
            margin: 0 0 1.2em 0;
        }

        &__title {
            font-size: 3.3em;
        }

        &__copy {
            margin: 1.4em 0;
        }
    }
}
